$mainSize: 18px;
$h1Size: 60px;
$h2Size: 30px;
$h4Size: 20px;
$socialsSize: 35px;

$white: #ffffff;
$bgWhiteTransparent: rgba(255, 255, 255, 0.2);
$bgEarthGreen: #6d7249;
$bgOrange: #e67b13;
$bgLightGray: #f2f2f2;
$bgDarkGray: #292d33;


$darkGray: #e5e5e5;
$activeGray: #a7a7a7;
